.lmj-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
  width: 180px;
  height: 250px;
}

.lmj-plant-item-img {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
